*.vsidx
*.lref
*.editorconfig
*.editorconfig
*.cache
*.cache
obj/ -f
obj/Debug/ -f
*.dll
*.v2
vs/ -f
obj/Debug/net6.0-windows/ -f
obj/Debug/net6.0-windows/Presentation/ -f
*.resources
WPFScholifyApp/obj/Debug/net6.0-windows/WPFScholifyApp_jwsquxgm_wpftmp.csproj.BuildWithSkipAnalyzers
WPFScholifyApp/obj/
WPFScholifyApp/obj/Debug/
*.pdb
*.bin